html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2,
h4,
p {
    margin: 0px;
}

body {
    background-color: #e5eff5;
    margin: 0px;
}

#main-container {
    width: 100%;
    height: auto;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow: hidden;
}

#upper-section {
    width: 100%;
    height: 45%;
    background-color: white;
    padding: 30px;
}

#title {
    color: #2ab2af;
    margin-bottom: 20px;
}

#upper-section h4 {
    color: #c0df34;
    margin-bottom: 10px;
}

#upper-section p {
    color: #98a6bd;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

#lower-section {
    width: 100%;
    height: 55%;
    color: #e5eff5;
}

#bottom-left {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #2ab2af;
    vertical-align: top;
    padding: 30px;
}

#bottom-left h4 {
    margin-bottom: 15px;
}

.price {
    margin-bottom: 10px;
}

#price-text {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
}

#frequency-text {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 5px;
    opacity: 0.80;
    font-size: 0.8rem;
}

#bottom-left p {
    font-size: 0.80rem;
    margin-bottom: 25px;
}

#bottom-right {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #53c6c4;
    vertical-align: top;
    padding: 30px;
}

ul {
    padding: 0px;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.80;
    line-height: 1.1rem;
}

button {
    background-color: #c0df34;
    font-family: 'Karla';
    color: #e5eff5;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A9C42D;
    transform: scale(1.02);
}
@media (min-width: 576px) {
  body {
    margin: 20px;
  }
  #main-container {
    width: 550px;
    height: 400px;
}
  #bottom-left, #bottom-right {
    width: 50%;
    height: 100%;
  }
}
